@charset 'utf-8';

.vision {
  box-shadow: 0px 0px 30px var(--main-color15);
  padding: 5.8rem 0 14.2rem 0;
}

.vison-title {
  margin-top: 9rem;
  text-align: center;
  position: relative;
}

.vison-title::before,
.vison-title::after {
  content: "";
  width: 24.6rem;
  height: 15rem;
  position: absolute;
  background: url(../img/decoration-pic1.svg) no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

.vison-title::before {
  left: 0;
}

.vison-title::after {
  right: 0;
  transform: translateY(-50%) scaleX(-1);
}

.vison-title p:nth-child(1) {
  color: var(--main-color);
}

.vison-title h4 {
  font: 8.2rem/1.1 "Poppins", sans-serif;
  font-weight: 600;
  color: var(--main-color);
}

.vison-title p {
  margin: 3rem auto 0 auto;
  width: 50%;
  word-break: keep-all;
}

.vip .sec-title {
  margin-top: 13.4375vw;
}

.vip-service {
  margin: 7.8125vw 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-shrink: 0;
  overflow-x: auto;
}

.vip-service li {
  width: 41rem;
  min-width: 33.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  padding: 0 5.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: no-repeat 50% / cover;
  position: relative;
  cursor: pointer;
  word-break: keep-all;
  box-shadow: 0px 0px 30px rgba(14, 33, 47, 0.55);
}

.vip-service li:nth-child(1) {
  background-image: url(https://missha.com/static/img/brand/img_research1.png);
}
.vip-service li:nth-child(2) {
  background-image: url(https://missha.com/static/img/brand/img_research2.png);
}
.vip-service li:nth-child(3) {
  background-image: url(https://missha.com/static/img/brand/img_research3.png);
}

.vip-service li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color60);
  transition: 0.4s;
}

.vip-service li:hover::after {
  content: "";
  background: var(--main-color);
}

.vip-service dl {
  position: relative;
  z-index: 1;
}

.vip-service dt {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white100);
  transform: translateY(75%);
  transition: 0.5s;
}

.vip-service li:hover dt {
  transform: translateY(0);
}

.vip-service dd {
  margin-top: 2.3rem;
  transform: translateY(350%);
  color: var(--white70);
  transition: 0.5s;
}
.vip-service li:hover dd {
  transform: translateY(0);
}

.story .inner {
  overflow: hidden;
}

.story {
  background: url(https://missha.com/upload/main/brandstory/20240626105144e0e7a300-7b8a-4d11-8add-99aeb529eb73.jpg)
    no-repeat 50% / cover;
  padding: 21.2rem 0 20rem 0;
  position: relative;
  /* transform: translateY(-50%); */
  z-index: 1;
}

.story::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(14, 27, 47, 1),
    rgba(14, 27, 47, 0.2)
  );
}

.story .sec-title {
  position: relative;
  z-index: 1;
}
.story .sec-title strong {
  color: var(--white100);
}

.story .sec-title h3 {
  color: var(--white100);
  width: 50%;
  word-break: keep-all;
}

.story p {
  width: 50%;
  font-size: clamp(2rem, 2.2vw, 2.2rem);
  color: var(--white70);
  word-break: keep-all;
  margin-top: 2.8rem;
  position: relative;
  z-index: 1;
}

.story .p5 {
  color: var(--white40);
}

.story b {
  font-size: clamp(2rem, 2.2vw, 2.2rem);
  font-weight: 600;
  color: var(--white100);
}

.tip {
  margin-bottom: 17.5rem;
}

.tip .sec-title {
  margin-top: 10.4167vw;
}

.tip-list {
  margin-top: 7.5758%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.tip-list li {
  /* border: 1px solid #000; */
  width: 31.5rem;
  aspect-ratio: 1/1.6825;
  padding: 3rem;
  word-break: keep-all;
  border-radius: 10px;
  overflow: hidden;
  background: no-repeat 50% / cover;
  position: relative;
  text-align: center;
}

.tip-list li:hover {
  justify-content: center;
}

.tip-list li:nth-child(1) {
  background-image: url(https://missha.com/static/img/brand/his1.png);
}
.tip-list li:nth-child(2) {
  background-image: url(https://missha.com/static/img/brand/his2.png);
}
.tip-list li:nth-child(3) {
  background-image: url(https://missha.com/static/img/brand/his3.png);
}
.tip-list li:nth-child(4) {
  background-image: url(https://missha.com/static/img/brand/his4.png);
}
.tip-list li:nth-child(5) {
  background-image: url(https://missha.com/static/img/brand/his5.png);
}

.tip-list li::after {
  content: "";
  transition: 0.7s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(14, 27, 47, 0),
    rgba(14, 27, 47, 0),
    rgba(14, 27, 47, 0.7)
  );
}

.tip-list li:hover::after {
  content: "";
  height: 100%;
  background: var(--main-color70);
}

.tip-list li strong {
  /* font-size: 2.8rem; */
  font-size: clamp(2.4rem, 8.8888%, 2.8rem);
  font-weight: 700;
  color: var(--white100);
  position: relative;
  z-index: 1;
  top: 90%;
  transition: 0.4s;
}

.tip-list li p {
  margin-top: 2rem;
  color: var(--white70);
  position: relative;
  z-index: 1;
  top: 120%;
}

.tip-list li:hover strong {
  /* font-size: 3rem; */
  font-size: clamp(2.6rem, 9%, 3rem);
  top: 35%;
}

.tip-list li:hover p {
  top: 35%;
  transition: 0.6s;
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4%);
  }
}

@media (max-width: 1800px) {
  .vison-title::before,
  .vison-title::after {
    width: 18rem;
    height: 13rem;
    background-size: contain;
  }
}

@media (max-width: 1400px) {
  .vison-title::before,
  .vison-title::after {
    display: none;
  }

  .tip .sec-title {
    margin-top: 10rem;
  }

  .tip-list {
    flex-direction: column;
  }

  .tip-list li {
    width: 100%;
    aspect-ratio: 1/0.3333;
  }

  .tip-list li strong {
    top: 80%;
  }

  .tip-list li p {
    margin-top: 2%;
  }
}

@media (max-width: 1350px) {
  .vip-service {
    justify-content: flex-start;
  }
}

@media (max-width: 1000px) {
  .store-txt {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .vison-title p {
    width: 80%;
  }

  .slider {
    height: 55vh;
  }

  .story .sec-title h3 {
    width: 100%;
  }

  .store-txt {
    width: 100%;
  }

  .story p {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .store {
    height: 40rem;
  }

  .tip-list li {
    width: 100%;
    aspect-ratio: 1/0.5;
  }

  .tip-list li:hover strong {
    top: 8vw;
  }

  .tip-list li:hover p {
    top: 8vw;
  }
}
