@charset 'utf-8';

.faq {
  margin: 12rem 0 6.25vw 0;
}

.faq-wrap {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 2rem;
}

.faq-tab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: clamp(2.4rem, 3vw, 3rem);
  font-weight: 700;
  gap: 2rem;
  margin-top: 3.125vw;
  flex-shrink: 0;
  overflow-x: auto;
}

.faq-tab li {
  cursor: pointer;
  white-space: nowrap;
}

.faq-tab li:hover {
  color: var(--main-color);
  transition: 0.3s;
}

.faq-tab li.on {
  color: var(--main-color);
  transition: 0.3s;
}

.faq-tab.on {
  color: var(--main-color);
}

.info-wrap li {
  border-top: 2px solid var(--black20);
  padding: 3rem 3.5rem;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.info-wrap li:first-child {
  border-top: 4px solid var(--main-color);
}

.info-wrap li:last-child {
  border-bottom: 2px solid var(--black20);
}

.info-wrap li.on {
  background: var(--main-color10);
}

.info-wrap li::after {
  content: "";
  position: absolute;
  top: 3rem;
  right: 3%;
  width: 4rem;
  aspect-ratio: 1/1;
  background: url(../img/arrow-m-bottom.png) no-repeat 50%;
  transition: 0.4s;
}

.info-wrap li.on::after {
  rotate: -180deg;
}

.faq-title {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.faq-title i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--white100);
  background: var(--main-color);
}

.faq-txt {
  width: 80%;
}

.faq-txt h4 {
  font-size: clamp(2.2rem, 2vw, 3rem);
  font-weight: 700;
  color: var(--title-color);
  word-break: keep-all;
}

.answer-wrap {
  margin-top: 4rem;
  display: none;
  font-size: 1.8rem;
  word-break: keep-all;
}

.answer-con {
  display: flex;
  gap: 3rem;
}

.card-benefit {
  padding: 10.6rem 0 10.2rem 0;
  background: var(--main-color);
}

.card-reward {
  padding: 10.6rem 0 10.2rem 0;
  background: var(--main-color);
}

.card-reward .sec-title,
.card-reward strong {
  color: var(--white100);
}

.app-con {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.8rem;
  gap: 2rem;
}

.app-icon {
  width: 41.7rem;
  height: 29.6rem;
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
  background: var(--white10);
  border-radius: 10px;
  padding: 5rem 4rem;
  position: relative;
}

.app-icon:hover {
  box-shadow: 0 0 10px rgba(250, 255, 242, 0.6);
  transition: box-shadow 0.3s ease;
}

.app-icon dl::before {
  content: "";
  display: block;
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 9.5rem;
  aspect-ratio: 1/1.0526;
  background: no-repeat 50%;
}

.boomerang-icon dl::before {
  width: 6.5rem;
}

.app-icon dl.app-ico1::before {
  background-image: url(../img/app-ico1.png);
}

.app-icon dl.app-ico2::before {
  background-image: url(../img/app-ico2.png);
}

.app-icon dl.app-ico3::before {
  background-image: url(../img/app-ico3.png);
}

.app-icon dl.app-ico4::before {
  background-image: url(../img/app-ico4.png);
}

.app-icon dl.app-ico5::before {
  background-image: url(../img/app-ico5.png);
}

.app-icon dl.app-ico6::before {
  background-image: url(../img/app-ico6.png);
}

.app-icon dl.app-ico7::before {
  background-image: url(../img/app-ico7.png);
}

.app-icon dl.app-ico8::before {
  background-image: url(../img/app-ico8.png);
}

.app-icon dl.app-ico9::before {
  background-image: url(../img/app-ico9.png);
}

.app-icon dl dt {
  font-size: 3rem;
  font-size: clamp(2.4rem, 6vw, 3rem);
  font-weight: 700;
  color: var(--white100);
  margin-top: 1rem;
}

.app-icon dl dd {
  margin-top: 1.2rem;
  color: var(--white70);
  word-break: keep-all;
}

.card-benefit .app-icon dl dd {
  margin-top: 0.5rem;
}

@media (max-width: 1024px) {
  .app-icon {
    width: 96vw;
  }
}
