@charset 'utf-8';

.breadcrumb {
  display: none;
}

.tip-list li:nth-child(1) {
  background-image: url(https://www.kolmar.co.kr/img/business/i1.gif);
}
.tip-list li:nth-child(2) {
  background-image: url(https://www.kolmar.co.kr/img/business/i1_2.gif);
}
.tip-list li:nth-child(3) {
  background-image: url(https://www.kolmar.co.kr/img/business/i1_3.gif);
}

.tip-list li:hover::after {
  content: "";
  height: 100%;
  background: var(--main-color70);
}

.allergie {
  margin: 12rem 0;
}

.allergie-slider-wrap {
  width: 100%;
}

.allergie-slider {
  width: 100%;
}

.allergie .swiper-wrapper {
  width: 100%;
}

.allergie-txt p {
  margin-top: 2.2727vw;
  width: 40%;
  word-break: keep-all;
}

.allergie-slider {
  margin-top: 4rem;
}

.allergie-item {
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.allergie-item::after {
  transition: 0.4s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color70);
  opacity: 0;
}

.allergie-item:hover::after {
  opacity: 1;
}

.allergie-item strong {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: var(--white100);
  text-align: center;
  opacity: 0;
  transition: 0.4s;
  /* font-size: 3rem; */
  font-size: clamp(2.4rem, 14.7783%, 3rem);
  font-weight: 700;
  z-index: 1;
  width: 100%;
  padding: 0 1rem;
}

.allergie-item i {
  font-size: 1.8rem;
  font-size: clamp(1.5rem, 8.867%, 1.8rem);
  font-weight: 400;
}

.allergie-item:hover strong {
  opacity: 1;
}

.allergie-slider-wrap .swiper-pagination {
  position: relative; /* 변경: absolute에서 relative로 */
  bottom: -5rem; /* 필요에 따라 조정 */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
}
