@charset 'utf-8';

.faq {
  margin-bottom: 13rem;
}

.faq .sec-title {
  margin-top: 18rem;
}

.faq-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 16.5rem;
  margin-top: 4rem;
}

.faq-tab {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 700;
  gap: 2rem;
}

.faq-tab li {
  cursor: pointer;
}

.faq-tab li:hover {
  color: var(--main-color);
  transition: 0.3s;
}

.faq-tab li.on {
  color: var(--main-color);
  transition: 0.3s;
}

.faq-tab.on {
  color: var(--main-color);
}

.info-wrap li {
  border-top: 2px solid var(--black20);
  padding: 3rem 3.5rem;
  position: relative;
  width: 81rem;
  cursor: pointer;
}

.info-wrap li:first-child {
  border-top: 4px solid var(--main-color);
}

.info-wrap li:last-child {
  border-bottom: 2px solid var(--black20);
}

.info-wrap li.on {
  background: var(--main-color10);
}

.info-wrap li::after {
  content: "";
  position: absolute;
  top: 4.6rem;
  right: 3%;
  width: 4rem;
  aspect-ratio: 1/1;
  background: url(../img/arrow-m-bottom.png) no-repeat 50%;
  transition: 0.4s;
}

.info-wrap li.on::after {
  rotate: -180deg;
}

.faq-title {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.faq-title i,
.answer-wrap i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--white100);
  background: var(--title-color);
}

.answer-wrap i {
  aspect-ratio: 1/1;
  background: var(--black20);
}

.faq-txt {
  width: 80%;
}

.faq-txt strong {
  font-size: 1.6rem;
}

.faq-txt h4 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--title-color);
  word-break: keep-all;
}

.answer-wrap {
  margin-top: 4rem;
  display: none;
  font-size: 1.8rem;
  word-break: keep-all;
}

.answer-con {
  display: flex;
  gap: 3rem;
}
