@charset 'utf-8';

.menu {
  margin-bottom: 17.5rem;
}

.menu-title {
  margin: 0 auto;
  text-align: center;
  /* width: 70.5rem; */
  width: 60%;
  margin-top: 12rem;
  word-break: keep-all;
}

.menu-title h3 {
  font: 5.2rem/0.8 "Poppins", sans-serif;
  font-size: clamp(3.5rem, 7.0313vw, 5.2rem);
  font-weight: 700;
  color: var(--title-color);
}

.menu-title p {
  margin-top: 6%;
}

.menu-tab {
  display: flex;
  /* gap: 2.5rem; */
  gap: 1.8939%;
  justify-content: center;
  margin-top: 6.5rem;
  flex-shrink: 0;
  overflow: auto;
}

.menu-tab li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  min-width: 9.6rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--white100);

  border: 2px solid var(--main-color);
}

.menu-tab li.on {
  background: var(--main-color);
}

.menu-tab li:hover {
  background: var(--main-color70);
  transition: 0.6s;
  border: var(--main-color70);
}

.menu-tab a {
  margin-top: 0.2rem;
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--main-color);
}

.menu-tab li.on a {
  color: var(--white100);
}

.menu-tab li:hover a {
  color: var(--white100);
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27.5rem, 1fr));
  margin-top: 8rem;
  gap: 4rem;
  justify-items: center;
}

.menu-list li figure {
  width: 100%;
  height: 29rem;
  border-radius: 10px;
  overflow: hidden;
  margin: 1.0416vw 0 1.5rem 0;
}

.menu-list li:hover img {
  transform: scale(110%);
}

.menu-list li p {
  padding: 0 2rem;
  font: 2rem/1.3 "Pretendard", sans-serif;
  font-weight: 700;
  color: var(--title-color);
  word-break: keep-all;
  text-align: center;
}

.menu-list .products-tag {
  display: flex;
  justify-content: center;
}

.menu-list .products-tag p {
  font-size: 1.6rem;
  color: var(--text-color);
}

.menu-con .btn-more {
  margin: 9.0909% auto 0 auto;
  background: var(--main-color);
  color: var(--white100);
}

.menu-con .btn-more:hover {
  color: var(--main-color);
}

.menu-con .btn-more::after {
  background-image: url(../img/arrow-w-right.png);
}

.menu-con .btn-more:hover::after {
  content: "";
  background-image: url(../img/arrow-m-right.png);
}

.menu-con .btn-more-item {
  background: var(--white100);
}

@media (max-width: 430px) {
  .menu-tab {
    justify-content: flex-start;
  }
}
