@charset 'utf-8';

.sns {
  margin: 6.25vw 0;
}

.sns .sns-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 2rem;
}

.sns-item {
  width: 41rem;
  margin-top: 3.125vw;
}

.sns-item figure {
  height: 30.7rem;
  border-radius: 10px;
  overflow: hidden;
}

.sns-item:hover figure img {
  transform: scale(110%);
}

.sns-txt p {
  margin-top: 1.0417vw;
  font-weight: 700;
  color: var(--title-color);
}

.sns-txt p + p {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--text-color);
  margin-top: 0.5rem;
}

.pagination {
  margin-top: 5.7292vw;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination a {
  width: 4rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--main-color);
  color: var(--black20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a.on {
  background: var(--main-color);
  color: var(--white100);
}

.pagination .prev,
.pagination .next {
  display: block;
  width: 2.4rem;
  aspect-ratio: 1/1;
  background: no-repeat 50%;
  border: none;
}

.pagination .prev {
  background-image: url(../img/arrow-b-left.png);
}
.pagination .next {
  background-image: url(../img/arrow-b-right.png);
}

@media (max-width: 1200px) {
  .sns-tab li {
    width: 10rem;
  }
}
