@charset 'utf-8';

.sns .sec-title {
  margin-top: 9.375vw;
}

.sns-tab {
  display: flex;
  gap: 1.8939%;
  justify-content: center;
  margin-top: 5.7292vw;
  flex-shrink: 0;
  overflow: auto;
}

.sns-tab li {
  display: block;
  width: 12rem;
  min-width: 9.6rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 2px solid var(--main-color);
}

.sns-tab li a::before {
  content: "";
  display: block;
  width: 2.6rem;
  aspect-ratio: 1/1;
  background: no-repeat 50%;
  margin: 0.2rem auto 0 auto;
  transition: 0.4s;
}

.sns-tab li:nth-child(1) a::before {
  background-image: url(../img/ico-sns1-m.png);
}
.sns-tab li:hover:nth-child(1) a::before,
.sns-tab li.on:nth-child(1) a::before {
  background-image: url(../img/ico-sns1-w.png);
}
.sns-tab li:nth-child(2) a::before {
  background-image: url(../img/ico-sns2-m.png);
}
.sns-tab li:hover:nth-child(2) a::before,
.sns-tab li.on:nth-child(2) a::before {
  background-image: url(../img/ico-sns2-w.png);
}
.sns-tab li:nth-child(3) a::before {
  background-image: url(../img/ico-sns3-m.png);
}
.sns-tab li:hover:nth-child(3) a::before,
.sns-tab li.on:nth-child(3) a::before {
  background-image: url(../img/ico-sns3-w.png);
}

.sns-tab li.on,
.sns-tab li:hover {
  background: var(--main-color);
  transition: 0.6s;
}

.sns-tab a {
  margin-top: 0.2rem;
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--main-color);
}

.sns-tab li.on a {
  color: var(--white100);
}

.sns-tab li:hover a {
  color: var(--white100);
}

.sns .sns-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.sns-item {
  width: 42rem;
  margin-top: 3.125vw;
}

.sns-item figure {
  height: 30.7rem;
  border-radius: 10px;
  overflow: hidden;
}

.sns-item:hover figure img {
  transform: scale(110%);
}

.sns-txt p {
  margin-top: 1.0417vw;
  font-weight: 700;
  color: var(--title-color);
}

.sns-txt p + p {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--text-color);
  margin-top: 0.5rem;
}

.pagination {
  margin-top: 5.7292vw;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination a {
  width: 4rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--black20);
  color: var(--black20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a.on {
  background: var(--main-color);
  color: var(--white100);
}

.pagination .prev,
.pagination .next {
  display: block;
  width: 2.4rem;
  aspect-ratio: 1/1;
  background: no-repeat 50%;
  border: none;
}

.pagination .prev {
  background-image: url(../img/arrow-b-left.png);
}
.pagination .next {
  background-image: url(../img/arrow-b-right.png);
}

@media (max-width: 1200px) {
  .sns-tab li {
    width: 10rem;
  }
}
