@charset 'utf-8';

.sns {
  margin: 12rem 0;
}

.sns .sns-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(84rem, 1fr));
}

.sns-item {
  /* width: 85rem; */
  margin-top: 3.125vw;
  display: grid;
}

.sns-item figure {
  width: 100%;
  aspect-ratio: 1/0.3094;

  /* height: 30.7rem; */
  border-radius: 10px;
  overflow: hidden;
}

.sns-item:hover figure img {
  transform: scale(110%);
}

.sns-txt p {
  margin-top: 1.0417vw;
  font-weight: 700;
  color: var(--title-color);
}
