@charset 'utf-8';

.sns {
  margin-top: 12rem;
}

.sns-tab {
  display: flex;
  gap: 1.8939%;
  justify-content: center;
  /* margin-top: 11rem; */
  margin-top: 5.7292vw;
  flex-shrink: 0;
  overflow: auto;
}

.sns-tab li {
  display: block;
  width: 12rem;
  min-width: 9.6rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid var(--main-color);
}

.sns-tab a {
  font-size: 1.9rem;
  font-weight: 700;
  color: var(--main-color);
}

.sns-tab li.on {
  background: var(--main-color);
}

.sns-tab li.on a {
  color: var(--white100);
}

.sns-tab li:hover {
  background: #e9cdcd;
  transition: 0.3s;
}

.sns-tab li:hover a {
  color: var(--main-color);
  transition: 0.3s;
}

.sns .sns-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 2rem;
}

.sns-item {
  width: 41rem;
  margin-top: 3.125vw;
}

.sns-item figure {
  width: 100%;
  aspect-ratio: 1/0.6337;
  /* height: 30.7rem; */
  border-radius: 10px;
  overflow: hidden;
}

.sns-item:hover figure img {
  transform: scale(110%);
}

.sns-txt p {
  margin-top: 1.0417vw;
  font-weight: 700;
  color: var(--title-color);
}

.sns-txt p + p {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--main-color);
  margin-top: 0.5rem;
}

.event {
  margin: 12rem 0;
}

.event .tab-con {
  margin-top: 4vw;
}

.event-list {
  margin-top: 1.0417vw;
  padding: 0 2rem;
}

.event .event-swiper {
  width: 100%;
  padding: 0 0 4rem 0;
}

.event-swiper figure {
  margin-top: 2.6rem;
  /* width: 37.8rem; */
  /* width: 19.6875vw; */
  width: 100%;
  aspect-ratio: 1/1.2315;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: none;
  box-shadow: 5px 6px 11px rgba(0, 0, 0, 0.25);
}

.event-swiper figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color70);
  transition: 0.4s;
  opacity: 0;
}

.event-swiper figure:hover::after {
  opacity: 1;
}

.event-list .swiper-pagination {
  position: relative;
  bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
}
