@charset 'utf-8';

.map {
  position: relative;
}

.map strong {
  font-size: 2rem;
  font-weight: 700;
  color: var(--title-color);
  overflow: hidden;
}

.map-view iframe {
  height: 87vh;
}

.map-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 64.6rem;
  height: 100vh;
  padding: 0 4rem;
  background: var(--white100);
  box-shadow: 0px -30px 30px rgba(14, 33, 27, 0.15);
  transition: transform 0.4s ease;
}

.btn-fold {
  content: "";
  position: absolute;
  top: 38%;
  right: 63rem;
  width: 4rem;
  height: 13.6rem;
  background: var(--white100) url(../img/arrow-m-right.png) no-repeat 30% 50%;
  border-radius: 5px;
  cursor: pointer;
}

.map-search.on {
  transform: translateX(100%);
}

.map-search.on .btn-fold {
  background-image: url(../img/arrow-m-left.png);
}

.map-search > strong {
  display: block;
  margin-top: 5rem;
}

/* map */

.map-info > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.8rem 0 3rem 0;
  border-bottom: 1px solid var(--black20);
}

.map-info dl dt {
  font-weight: 700;
  color: var(--title-color);
}

.map-info dl dd {
  font-size: 1.6rem;
  word-break: keep-all;
}

@media (max-width: 1024px) {
  .map {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
  }

  .map-wrap {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .map-view {
    width: 100%;
    height: 100%;
  }

  .map-search {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%; /* 기본 높이 60% */
    background: #fff;
    padding: 2rem;
    transition: transform 0.3s ease;
    z-index: 10;
  }

  .map-search {
    top: auto;
    width: 100%;
    height: 80vh;
    height: 60%;
    transform: translateY(0);
    transition: transform 0.3s ease;
  }

  .map-search.on {
    transform: translateY(calc(100% - 10%));
  }

  .btn-fold {
    top: -6.8rem;
    right: 50%;
    transform: translateX(50%);
    width: 13.6rem;
    height: 4rem;
    background: var(--white100) url(../img/arrow-m-bottom.png) no-repeat 50% 70%;
  }

  .map-search.on .btn-fold {
    background-image: url(../img/arrow-m-top.png);
  }

  .btn-fold {
    top: 0.2rem;
  }

  footer {
    display: none;
  }
}
