@charset 'utf-8';

.breadcrumb {
  display: none;
}

.slider-menu-wrap {
  /* background: #ff5; */
  /* padding: 23.8rem 0; */
  padding-top: 12.3958vw;
  padding-top: 25rem;
  display: flex;
  gap: 2rem;
  /* border: 1px solid #000; */
}

.menu-txt-slider {
  flex: 1 0 48%;
}

.menu-con-slider-wrap {
  flex: 1 0 48%;
}

.menu-text-card {
  background: #fff;
}

.menu-text-card strong {
  font-weight: 700;
  font-size: 2rem;
  color: var(--main-color);
  margin-top: 2rem;
}

.menu-text-card h3 {
  font: 9rem/1.1 "Poppins", sans-serif;
  font-size: clamp(5rem, 5vw, 9rem);
  font-weight: 700;
  color: var(--title-color);
  word-break: keep-all;
  margin-top: 2.8rem;
}

.menu-text-card p {
  width: 30vw;
  margin-top: 1.5rem;
  word-break: keep-all;
}

.menu-text-card .btn-more {
  margin-top: 6rem;
}

.menu-con-slider {
  /* border: 1px solid #f00; */
  /* width: 1000px; */
  width: 50vw;
  height: 52.4rem;
}

.menu-card {
  position: relative;
  width: 42.7rem;
  /* width: 22.2396vw; */
  aspect-ratio: 1/1.2272;
  border-radius: 10px;
  overflow: hidden;
  /* margin: 0 1rem; */
  margin-right: 2rem;
  word-break: keep-all;
}

.menu-card figure {
  width: 100%;
  height: 100%;
}

.menu-card .menu-name {
  opacity: 0;
  transition: 0.4s;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10.2rem;
  background: var(--main-color80);
  color: var(--white100);
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
}

.menu-card:hover .menu-name {
  opacity: 1;
}

.menu-card:hover::before {
  opacity: 0;
}

.allergie {
  margin: 12rem 0;
}

.allergie-slider-wrap {
  width: 100%;
}

.allergie-slider {
  width: 100%;
}

.allergie .swiper-wrapper {
  width: 100%;
}

.allergie-txt p {
  margin-top: 2.2727vw;
  /* margin-top: 3rem; */
  width: 50%;
}

.allergie-slider {
  margin-top: 4rem;
}

.allergie-item {
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.allergie-item::after {
  transition: 0.4s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color70);
  opacity: 0;
}

.allergie-item:hover::after {
  opacity: 1;
}

.allergie-item strong {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: var(--white100);
  text-align: center;
  opacity: 0;
  transition: 0.4s;
  /* font-size: 3rem; */
  font-size: clamp(2.4rem, 14.7783%, 3rem);
  font-weight: 700;
  z-index: 1;
  width: 100%;
  padding: 0 1rem;
}

.allergie-item i {
  font-size: 1.8rem;
  font-size: clamp(1.5rem, 8.867%, 1.8rem);
  font-weight: 400;
}

.allergie-item:hover strong {
  opacity: 1;
}

.allergie-slider-wrap .swiper-pagination {
  position: relative; /* 변경: absolute에서 relative로 */
  bottom: -5rem; /* 필요에 따라 조정 */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
}

@media (max-width: 1200px) {
  .allergie-txt {
    margin-top: 10rem;
  }

  .allergie-txt p {
    width: 80%;
  }

  .allergie .view-more {
    margin-top: 2rem;
  }
}

@media (max-width: 600px) {
  .allergie-txt p {
    width: 100%;
  }
}

@keyframes move {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4%);
  }
}

@media (max-width: 1800px) {
  .menu-text-card h3 {
    font-size: 8rem;
  }

  .menu-text-card p {
    width: 90%;
  }
}

@media (max-width: 1320px) {
  .main-title {
    width: 50vw;
    min-width: 35rem;
  }

  .slider-menu-wrap {
    flex-wrap: wrap;
  }

  .menu-text-card {
    text-align: center;
  }

  .menu-text-card p {
    width: 80%;
    margin: 0.7rem auto 0 auto;
  }

  .menu-text-card .btn-more {
    margin: 6rem auto 0 auto;
  }

  .menu-card {
    width: 100%;
  }

  .menu-con-slider-wrap {
    width: 100%;
  }

  .menu-con-slider {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .event .view-more {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    color: transparent;
    position: relative;
  }

  .event .view-more:hover {
    color: transparent;
  }

  .event .view-more::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../img/arrow-m-right.png) no-repeat 0% 50%;
  }
}
